.App {
  text-align: center;
  margin-top: 50px;
}

textarea {
  padding: 10px;
  font-size: 14px;
  width: 70%;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:disabled {
  background-color: grey;
}

h2 {
  margin-top: 20px;
  color: green;
}